.bg-image-blur {
    -fx-background-image: url("file:/C:/Users/e-hen/IdeaProjects/Attack-On-Titan-GUI/Images/attack_on_titan_blur.jpg");
    -fx-background-size: cover
}

.bg-image-clear {
    -fx-background-image: url("file:/C:/Users/e-hen/IdeaProjects/Attack-On-Titan-GUI/Images/attack_on_titan_clear.jpg");
    -fx-background-size: cover;
}

.beige-bg-color {
    -fx-background-color: #FFECCF;
}

.lightbrown-bg-color {
    -fx-background-color: #D2C4AE;
}

.alice-blue-bg-color {
    -fx-background-color: #F0F8FF;
}

.play{
    -fx-background-image: url('file:/C:/Users/e-hen/IdeaProjects/Attack-On-Titan-GUI/Images/attack_on_titan_blur.jpg');
    -fx-background-size: cover;
}

.button_play{
    -fx-background-color: #FFECCF;
    -fx-background-radius: 20px;
    -fx-font-size: 30px;
    -fx-font-family: "Inter";
    -fx-font-style: normal;
    -fx-text-fill: #403535;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 2, 2);
}

.label_play{
    -fx-background-color: #6F553F;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20px;
    -fx-background-radius: 20px;
}

.pop-up-background{
    -fx-background-color: #FFECCF;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 2, 2);
}

.pop-up-button{
    -fx-background-color: #6F553F;
    -fx-background-radius: 20px;
    -fx-font-size: 15px;
    -fx-font-family: "Inter";
    -fx-font-style: normal;
    -fx-text-fill: #FFECCF;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 2, 2);
}

.pop-up-label{
    -fx-text-fill: #403535;
    -fx-font-size: 20px;
}

.pop-up-text-field{
    -fx-background-color: #D2C4AE;
    -fx-background-radius: 20px;
    -fx-font-size: 18px;
    -fx-font-family: "Inter";
    -fx-font-style: normal;
    -fx-text-fill: #403535;
}

.play-display .content{
    -fx-background-color: #D2C4AE;
    -fx-font-size: 15px;
    -fx-font-family: "Inter";
    -fx-font-style: normal;
    -fx-text-fill: #403535;
    -fx-background-radius: 15px;
}

.play-display{
    -fx-background-color: #D2C4AE;
    -fx-font-size: 15px;
    -fx-font-family: "Inter";
    -fx-font-style: normal;
    -fx-text-fill: #403535;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 2, 2);
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.play-node-button{
    -fx-background-color: #457439;
    -fx-background-radius: 100px;
    -fx-font-size: 20px;
    -fx-font-family: "Inter";
    -fx-font-style: normal;
    -fx-text-fill: #FFECCF;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 2, 2);
}

